.photo_gallery_item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  height: 150px;
}

.thumbnail:hover {
  cursor: pointer;
  opacity: 0.85;
}

img.selected {
  border: solid rgb(79, 69, 228) 3px;
  opacity: 1;
  padding: 1px;
}

.metadata {
  margin-top: 7px;
}

.metadata > div {
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  img.selected {
    border: none;
    padding: 0;
  }
}
