.filename {
  font-size: 1rem;
  font-weight: 600;
  max-width: 100%;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.filesize {
  color: rgb(100, 116, 139);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 4px;
  margin-top: 6px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
