.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 200px);
}

@media only screen and (max-width: 600px) {
  .gallery {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 200px;
  }
}
