.heart {
  height: 22px;
  position: relative;
  width: 26px;
}

.heart::before,
.heart::after {
  background: red;
  height: 20px;
  border-radius: 50px 50px 0 0;
  content: "";
  position: absolute;
  top: 0;
  width: 13px;
}

.heart::before {
  left: 13px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
