.panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 40px;
  width: 100%;
}

.photo {
  padding: 0;
}

.metadata {
  margin-top: 20px;
  max-width: 100%;
  min-width: 0;
}

.metadata > div:first-child {
  font-size: 1.4rem;
}

.delete_button {
  margin-top: 30px;
  width: 100%;
}

.description,
.information {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .panel {
    padding: 20px 0;
  }
}
