.tab {
  border: none;
  background: transparent;
  color: rgb(100, 116, 139);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 650;
  height: 100%;
  margin-right: 20px;
  padding-bottom: 8px;
}

.selected_tab {
  border-bottom: solid 2px rgb(79, 69, 228);
  color: rgb(79, 69, 228);
  padding-bottom: 4px;
}
