.transparent_heart {
  height: 22px;
  margin-top: 11px;
  position: relative;
  width: 26px;
}

.transparent_heart::before,
.transparent_heart::after {
  background-color: var(--color);
  border-radius: 50px 50px 0 0;
  content: "";
  height: 13px;
  position: absolute;
  top: 2px;
  width: 9px;
  z-index: 2;
}

.transparent_heart::before {
  left: 13px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.transparent_heart::after {
  left: 4px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.gray_heart {
  height: 22px;
  margin-top: 10px;
  position: absolute;
  width: 25px;
  z-index: 1;
}

.gray_heart::before,
.gray_heart::after {
  background-color: rgb(100, 116, 139);
  border-radius: 50px 50px 0 0;
  content: "";
  height: 20px;
  position: absolute;
  top: 0;
  width: 13px;
}

.gray_heart::before {
  left: 13px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.gray_heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
